body {
  margin: 0 auto !important;
  padding: 12vmin 10vmin;

  max-width: 40em;

  font-family: "Lora", sans-serif;

  text-rendering: optimizeSpeed;

  line-height: 1.5em;
  word-wrap: no-wrap;

  background-image: url("/gradient.png");
}

a {
  color: inherit;
  text-decoration: none;
}
